<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="@@description">
	<meta name="keywords" content="@@keywords">
	<link rel="shortcut icon" href="https://img.icons8.com/cute-clipart/64/000000/time-span.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
	<!-- <link rel="stylesheet" href="css/catalog.min.css"> -->
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/style.min.css">
	<script src="../../js/personal.js" defer></script>
	<script src="../../js/main.js" defer></script>
	<script src="../../js/autorizaton.js" defer></script>
	<!-- <script src="../../js/modalDescription.js" defer></script> -->
	<!-- @@include('components/page/_1_head.html') -->
	<!-- <title>@@title</title> -->
	<title>Porten</title>
</head>