<header class="header">
    <div class="header">
        <div class='header__contacts'>
            <div>
                <p><a href="tel:8(812)123-45-67"><span><i class="fas fa-phone-alt"
                                style="color:grey; padding-right: 15px;"></i> </span>8(812)
                        123-45-67</a></p>
                <p>Работаем 7 дней в неделю</p>
                <p><span>9:00-18:00</span></p>
            </div>
            <div>

                <button class="header__contacts-autorization"><i class="fas fa-sign-in-alt"
                        style="margin-right: 5px;"></i><span>Войти/Регистрация</span></button>
            </div>
        </div>
        <nav class='header__menu container-header'>
            <div>
                <a href="index.html" class="header__menu-logo">porten</a>
            </div>
            <div>
                <nav>
                    <button class="mini-menu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <ul class="menu">
                        <li class="back">&times;</li>
                        <li><a href="catalog.html">Каталог часов</a></li>
                        <li><a href="err404.html">Личный кабинет</a></li>
                        <li><a href="err404.html">Настройки</a></li>
                        <li><a href="err404.html" class="basket"><i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                    <div class="search"><input type="text" class='searchHidden' autocomplete="off">
                        <a href="#" class="lastLi"><i class="fas fa-search"></i></a></div>
                </nav>
            </div>
        </nav>
    </div>
    @@include('_5_registration.html')
    @@include('_6_mailing.html')
    @@include('_7_descriptionClocks.html')
</header>