<section>
    <div class="description">
        <div class="description__shop">
            <h3>о магазине</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos officiis eum placeat veniam ullam
                vero quibusdam, ab iure ad dolorem voluptatem, cupiditate a repellat libero soluta recusandae
                commodi, voluptates voluptate? cupiditate a repellat libero soluta recusandae
                commodi?</p>
        </div>
        <div class="description__category">
            <h3>категории</h3>
            <nav class="description__list">
                <button>часы</button>
                <button>браслеты</button>
                <button>ремни</button>
                <button>ювелирные изделия</button>
                <button>запонки</button>
            </nav>
        </div>
        <div class="description__mailing">
            <h3>Рассылка</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos officiis eum placeat veniam ullam.
            </p>
            <div class="mail">
                <input type="email" class="description__mailing-email" placeholder="Ваша почта">
                <button class="description__mailing-button">подписаться</button>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <h6>&copy;2020 Все права защищены</h6>
</footer>

</body>

</html>