<div class="modal">
    <div id="autorization">
        <div class='exit'>
            <p>Вход</p>
            <button class="exit">
                <span class="crossLeft"></span>
                <span class="crossRight"></span>
            </button>
        </div>
        <hr>
        <form action="#">
            <p>Электронная почта</p>
            <input type="email" id="email" autocomplete="on">
            <p class="pasw">Пароль</p>
            <input type="password" minlength="6" id="password" autocomplete="off">
            <p class="check"><input type="checkbox" id="memoryChek"><label for='memoryChek'><span>Запомнить
                        меня</span></label>
                <a href="#">Напомнить пароль</a></p>
            <button class="enterButton">Войти</button>
            <a href="#">Зарегистрироваться</a>
        </form>
    </div>
</div>