				<!-- --------------------Всплывающее модальное окно для описания часов -->
				<div class="modalClockDescription">
				    <div class="modalClock">
				        <div class="modalClockDescriptionBlock">
				            <div class="modalClockDescription__img"></div>
				            <p>Описание и характеристики</p> <button class="exit"><span class="crossLeft"></span> <span
				                    class="crossRight"></span></button>
				        </div>
				        <hr>

				        <p>Описание</p>
				        <div class="modalClockDescription__description"></div>
				        <p>Харктеристики</p>
				        <div class="modalClockDescription__characteristic"></div>
				        <p>Цена</p>
				        <div class="modalClockDescription__price"></div>
				        <button class="enterButton">Купить</button>
				    </div>
				</div>