.personal {
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
    // height: 800px;
    flex-direction: column;
    background-color: rgb(253, 253, 253);
    font-size: 18px;
    color: #000;

    .peronal__correct {
        display: flex;
        justify-content: space-between;

        button {
            border: 1px solid rgb(118, 152, 245);
            padding: 5px;
            height: 30px;
            margin-top: 40px;
            margin-right: 40px;
            cursor: pointer;
            background-color: rgb(118, 152, 245);
            color: white;

            &:hover {
                background-color: rgb(254, 254, 255);
                color: rgb(7, 7, 7)
            }
        }

        .personal__title {
            font-size: 22px;
            font-weight: bold;
            padding-left: 50px;
            padding-top: 40px;

        }

    }


    .personalData,
    .contacts,
    .adressCourier {
        display: flex;
        flex-wrap: wrap;


        input {
            border: none;
            background: transparent;

            &:focus {
                background-color: wheat;
            }

        }

        input[type="placeholder"] {
            max-width: 800px;
            height: 50px;
        }




        div {
            padding: 0px 25px;
            margin: 20px;

            p {
                width: 300px;
                margin: 5px;

                // border: 1px solid grey;
                &:first-child {
                    color: rgb(114, 111, 111);
                }
            }
        }
    }

    .contacts {
        background-color: rgb(232, 212, 238);
    }

    .personalSaveData__button {
        display: none;
        border: none;
        padding: 5px;
        margin: 40px;
        cursor: pointer;
        background-color: rgb(236, 85, 58);
        color: white;
        margin-left: 81%;

        &:hover {
            background-color: rgb(255, 254, 254);
            color: rgb(7, 7, 7);
            border: 2px solid rgb(236, 141, 124);
        }
    }
}